.deck {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  &__loader {
    border: 0.25rem solid #eee;
    border-left: 0.25rem solid #121212;
    border-right: 0.25rem solid #121212;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
    display: inline-block;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
