@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_modal.scss";
@import "../../../node_modules/bootstrap/scss/_buttons.scss";
@import "../../../node_modules/bootstrap/scss/_close.scss";

.sr-only {
  display: none;
}

.modal-body {
  text-align: center;
  padding: 0;
}
.modal-content {
  background: unset;
  border: 0;
}

.modal {
  display: flex !important;
  place-items: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: calc(300px + 2rem);
  }
}

.button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  outline: none;
  &__label {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.visual {
  $self: &;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  &__art {
    background-size: 325px;
    background-position-x: center;
    background-position-y: -4rem;
    width: 250px;
    height: 150px;
    cursor: pointer;
  }
  &__card {
    margin-right: 0.5rem;
    display: block;
    img {
      width: 140px;
      cursor: pointer;
    }
    &--blitz {
      img {
        width: 165px;
      }
    }
  }
  &__deck {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
  }
  &__divider {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #121212;
    color: #fff;
    flex: 1;
    justify-content: center;
    height: 90px;
    font-size: 0.9rem;
  }
  &__equipment {
    position: relative;
    flex: 0.15;
    #{$self}__card {
      z-index: 1;
      margin-right: unset;
      &:nth-child(2n) {
        text-align: right;
      }
      height: 1.75rem;
    }
    &--blitz {
      flex: 0.2;
      #{$self}__card {
        height: 2rem;
      }
    }
    > #{$self}__card:last-child {
      height: unset;
    }
  }
  &__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #121212;
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
  }
  &__info {
    padding: 0 0.5rem;
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    //place-content: space-between;
    place-content: flex-start;
    flex: 0.85;
    &--blitz {
      flex: 0.8;
    }
  }
  &__name {
    padding: 0 0.5rem;
  }
  &__pile {
    position: relative;
    margin-bottom: 0.5rem;
    #{$self}__card {
      z-index: 1;
      height: 1.75rem;
      &--blitz {
        height: 2rem;
      }
    }
    > #{$self}__card:last-child {
      height: unset;
    }
  }
  &__stats {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  &__stat {
    padding: 0 1rem;
    margin: 0.25rem 0;
    position: relative;
    border-right: 1px solid #fff;
    &:last-child {
      border-right: unset;
    }
    &--red,
    &--yellow,
    &--blue {
      padding-left: 2.5rem;
      &:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 1px;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }
    &--red {
      &:before {
        background: #e53e3e;
      }
    }
    &--yellow {
      &:before {
        background: #f6e05e;
      }
    }
    &--blue {
      &:before {
        background: #63b3ed;
      }
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
  }
}
