@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_modal.scss";
@import "../../../node_modules/bootstrap/scss/_buttons.scss";
@import "../../../node_modules/bootstrap/scss/_close.scss";

.sr-only {
  display: none;
}

.modal-body {
  text-align: center;
  padding: 0;
}
.modal-content {
  background: unset;
  border: 0;
}

.modal {
  display: flex !important;
  place-items: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: calc(300px + 2rem);
  }
}

.visual {
  $self: &;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &__art {
    background-size: 400px;
    background-position-x: center;
    background-position-y: -6rem;
    width: 300px;
    height: 200px;
  }
  &__card {
    margin-right: 0.5rem;
    display: block;
    cursor: pointer;
    img {
      width: 140px;
    }
    &--blitz {
      img {
        width: 165px;
      }
    }
  }
  &__deck {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
  }
  &__divider {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #121212;
    color: #fff;
    flex: 1;
    justify-content: center;
    height: 90px;
  }
  &__equipment {
    position: relative;
    flex: 0.2;
    #{$self}__card {
      z-index: 1;
      margin-right: unset;
      &:nth-child(2n) {
        right: 0;
      }
      &:nth-child(1) {
        padding-bottom: 192%;
      }
      &:nth-child(2) {
        position: absolute;
        z-index: 2;
        top: 5%;
      }
      &:nth-child(3) {
        position: absolute;
        z-index: 3;
        top: 10%;
      }
      &:nth-child(4) {
        position: absolute;
        z-index: 4;
        top: 15%;
      }
      &:nth-child(5) {
        position: absolute;
        z-index: 5;
        top: 20%;
      }
      &:nth-child(6) {
        position: absolute;
        z-index: 6;
        top: 25%;
      }
      &:nth-child(7) {
        position: absolute;
        z-index: 7;
        top: 30%;
      }
      &:nth-child(8) {
        position: absolute;
        z-index: 8;
        top: 35%;
      }
      &:nth-child(9) {
        position: absolute;
        z-index: 9;
        top: 40%;
      }
      &:nth-child(10) {
        position: absolute;
        z-index: 10;
        top: 45%;
      }
      &:nth-child(11) {
        position: absolute;
        z-index: 11;
        top: 50%;
      }
      //   &--blitz {
      //     &:nth-child(2) {
      //       top: 5%;
      //     }
      //     &:nth-child(3) {
      //       top: 10%;
      //     }
      //     &:nth-child(4) {
      //       top: 15%;
      //     }
      //     &:nth-child(5) {
      //       top: 20%;
      //     }
      //     &:nth-child(6) {
      //       top: 25%;
      //     }
      //     &:nth-child(7) {
      //       top: 30%;
      //     }
      //     &:nth-child(8) {
      //       top: 35%;
      //     }
      //     &:nth-child(9) {
      //       top: 40%;
      //     }
      //     &:nth-child(10) {
      //       top: 45%;
      //     }
      //     &:nth-child(11) {
      //       top: 50%;
      //     }
      //   }
    }
  }
  &__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #121212;
    // margin-right: 0.5rem;
    // &:after {
    //   content: "";
    //   height: calc(100% - 9rem);
    //   border-bottom: 2rem solid transparent;
    //   border-left: 0.5rem solid #121212;
    //   position: absolute;
    //   right: -0.5rem;
    //   z-index: 10;
    // }
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
  }
  &__info {
    padding: 0 0.5rem;
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    //place-content: space-between;
    flex: 0.8;
  }
  &__name {
    padding: 0 0.5rem;
  }
  &__pile {
    position: relative;
    margin-bottom: 0.5rem;
    #{$self}__card {
      z-index: 1;
      &:nth-child(1) {
        padding-bottom: 79%;
      }
      &:nth-child(2) {
        position: absolute;
        z-index: 2;
        top: 7.5%;
      }
      &:nth-child(3) {
        position: absolute;
        z-index: 3;
        top: 15%;
      }
      &:nth-child(4) {
        position: absolute;
        z-index: 4;
        top: 22.5%;
      }
      &:nth-child(5) {
        position: absolute;
        z-index: 5;
        top: 30%;
      }
      &:nth-child(6) {
        position: absolute;
        z-index: 6;
        top: 37.5%;
      }
      &--blitz {
        &:nth-child(1) {
          padding-bottom: 57.5%;
        }
        &:nth-child(2) {
          top: 10%;
        }
        &:nth-child(3) {
          top: 20%;
        }
        &:nth-child(4) {
          top: 30%;
        }
      }
    }
  }
  &__stats {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  &__stat {
    padding: 0 1rem;
    margin: 0.25rem 0;
    position: relative;
    border-right: 1px solid #fff;
    &:last-child {
      border-right: unset;
    }
    &--red,
    &--yellow,
    &--blue {
      padding-left: 2.5rem;
      &:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 1px;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }
    &--red {
      &:before {
        background: #e53e3e;
      }
    }
    &--yellow {
      &:before {
        background: #f6e05e;
      }
    }
    &--blue {
      &:before {
        background: #63b3ed;
      }
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
  }
}
