@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  //width: 1200px;
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
h2 {
  margin-bottom: 0.5rem;
}

.button {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #121212;
  border-radius: 1rem;
  text-decoration: none;
  color: #121212;
  cursor: pointer;
  background: none;
}

.error {
  font-size: 2rem;
  margin-bottom: 1rem;
}
